<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		<add key="RememberPage" value="False"/>
		<add key="CurrentPage" value="DashboardPage"/>
		<add key="ItemsPerPage" value="10"/>
		<add key="DbUsername" value=""/>
		<add key="DbPassword" value=""/>
		<add key="DbEntropy" value=""/>
		<add key="ServerAddress" value=""/>
		<add key="DatabaseName" value=""/>
		<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=MyShopDB;Integrated Security=True;Trust Server Certificate=True"/>
		<add key="dbConnectStatus" value=""/>
	</appSettings>
</configuration>